{% extends 'layout.html' %}

{% block content %}
{%for content in contents%}
<div class="listBox">
    <h1>{{content.title}}</h1>
    <p class="colDefault">
        作者：<span class="colInfo">{{content.user.username}}</span>
        时间：<span class="colInfo">{{content.addTime|date('Y-m-d H:i:s', -8*20)}}</span>
        阅读：<span class="colInfo">{{content.views}}</span>
        评论：<span class="colInfo">0</span>
    </p>
    <dfn><p>{{content.description}}</p></dfn>
    <div class="btnRight"><a href="/view?contentid={{content.id}}">
        <div class="function">进入阅读</div>
    </a></div>
</div>
{% endfor %}

{% if pages <= 0 %}
<div class="tips">内容正在更新中……</divclass>
    {% else %}
    <div class="pager">
        <ul class="clear">
            <li class="previous">
                {%if page <= 1%}
                <span>没有上一页</span>
                {%else%}
                <a href="/?category={{category}}&page={{page-1}}">上一页</a>
                {%endif%}
            </li>
            <li>
                <strong>{{page}}/{{pages}}</strong>
            </li>
            <li class="next">
                {% if page >= pages %}
                <span>没有下一页</span>
                {% else %}
                <a href="/?category={{category}}&page={{page+1}}">下一页</a>
                {% endif %}
            </li>
        </ul>
    </div>
    {%endif%}
</div>
{% endblock %}